.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ov-btn-grow-ellipse {
  background: #fff !important;
  /* color de fondo */
  color: #0C78B8 !important;
  /* color de fuente */
  border: 2px solid #0C78B8 !important;
  /* tamaño y color de borde */
  padding: 16px 20px !important;
  border-radius: 50px !important;
  /* redondear bordes */
  position: relative !important;
  z-index: 1 !important;
  overflow: hidden !important;
  display: inline-block !important;
}

.ov-btn-grow-ellipse:hover {
  color: #fff !important;
  /* color de fuente hover */
}

.ov-btn-grow-ellipse::after {
  content: "" !important;
  background: #0C78B8 !important;
  /* color de fondo hover */
  position: absolute !important;
  z-index: -1 !important;
  padding: 16px 20px !important;
  display: block !important;
  border-radius: 50% !important;
  left: -50% !important ;
  right: -50% !important;
  top: -150% !important;
  bottom: -150% !important;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}

.ov-btn-grow-ellipse:hover::after {
  transition: all 0.6s ease-out;
  transform: scale(1, 1) !important;
}


.color-letra-titulos{
  color: #0C78B8 !important;
}